
  <!-- Nav -->
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="container">
      <a class="navbar-brand" href="#">
        <img
          src="assets/component/images/books.ico"
          width="30"
          height="30"
          class="d-inline-block align-top"
          alt=""
        />
        <b> SIJAKI</b>
      </a>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a class="nav-link btnPrimary" routerLink="/login" *ngIf="loggedIn != true; else loginBtn">Login</a></li>
          <ng-template #loginBtn>
              <li class="nav-item"><a class="nav-link btnPrimary" routerLink="/i">Go to Dashboard</a></li>
          </ng-template>
        </ul>
    </div>
    </nav>
    <!-- End of Navbar -->
    <!-- Banner Carousel -->
    <section id="banner">
      <div
        id="carouselExampleIndicators"
        class="carousel slide"
        data-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="carousel-content">
                <div class="container">
                    <div class="row">
                        <div class="col main-slide">
                            <div class="text-center logo-small col-md-12"><img src="assets/component/images/books.ico"></div>
                            <h2>SIJAKI</h2>
                            <p>
                                Sistem Informasi Jadwal Kajian Islam <br><br>
                                <span>Dapatkan informasi kajian Islam teraktual</span><br>
                                <i>melalui aplikasi berbasis website, <b>SIJAKI</b></i>
                            </p>
                            <br>
                            <!-- <a class="btnPrimary" href="#">View More</a> -->
                        </div>
                        <div class="col text-right map">
                            <img id="map" src="assets/component/images/map-red.svg">
                            <div class="blob"></div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
      </section>
      <!-- End of Banner -->
      <!-- Events -->
      <section id="events" class="section">
        <div class="col-12 text-center section-title">
            <p>Features</p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-4 event-cell text-center">
                    <img src="assets/component/images/bx-calendar.svg" alt="Orienteering Games icon">
                    <h4>JADWAL KAJIAN LENGKAP</h4>
                    <p>Temukan jadwal kajian - kajian Islam di kota anda dan waktu tertentu</p>
                </div>
                <div class="col-12 col-sm-4 event-cell text-center">
                  <img src="assets/component/images/bx-spreadsheet.svg" alt="Account icon">
                  <h4>AKUN PROFIL</h4>
                  <p>Temukan masjid, majelis, dan pemateri yang menyelenggarakan kajian yang sering anda ikuti</p>
              </div>
                <div class="col-12 col-sm-4 event-cell text-center">
                    <img src="assets/component/images/bx-plus-circle.svg" alt="Follow icon">
                    <h4>FOLLOW</h4>
                    <p>Jangan sampai ketinggalan kajian dari penyelenggara kajian yang sering anda ikuti dengan mem-<i>follow</i> mereka</p>
                </div>
            </div>
        </div>
      </section>
      <!-- End of Events -->
      <footer>
        <div class="container">
          <div class="col social">
              <ul>
                  <li><a href="https://www.instagram.com/sijaki" target="_blank"><img src="assets/component/images/socials/ig2.png" alt="Instagram icon"> @sijaki</a></li>
                  <li><a href="https://www.facebook.com/sijaki" target="_blank"><img src="assets/component/images/socials/fb2.png" alt="Facebook icon"> SIJAKI</a></li>
                  <li><img src="assets/component/images/socials/line2.png" alt="Line icon"> ID : @sijaki</li>
              </ul>
          </div>
        </div>
      </footer>
      <div class="col copyright text-center">
        Copyright &copy; 2018. All rights reserved
      </div>

