<section id="content" class="content-kajian">
  <div class="container">
      <div class="row">
        <div class="col offset-md-3 offset-lg-4 content__header">
            <h2>List Masjid</h2>
        </div>
      </div>
      <div *ngIf="user?.length > 0; else noData">
	      <div class="col-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4 content__body masjid" *ngFor="let data of user">
					<a routerLink="/i/p/{{ data.username }}">
						<div class="masjid-title">
							<h2>{{ data.nama }}</h2>
							<p>@{{ data.username }}<br><!--Jalan Ganesha no. 36, Bandung--></p>
						</div>
					</a>
	      </div>
	    </div>
  </div>
</section>

<ng-template #noData>
	<div class="col-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4 content__body masjid">
		<p>Data Masjid tidak ditemukan.</p>
	</div>
</ng-template>