<section id="content" class="content-kajian">
  <div class="container">
      <div class="row">
        <div class="col offset-md-4 content__header">
            <h2>List Majelis</h2>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 offset-sm-4 content__body masjid">
          <div class="masjid-title">
            <h2>Majelis Jejak Shahabat</h2>
            <p>@jejakshahabat<br></p>
          </div>
            <hr>
          <div  class="text-right">
            <a href="#" class="btn btn-info btn-sm">View Details</a>
          </div>
      </div>
  </div>
</section>