<section id="content">
    <div class="container">
        <!-- <div class="col-xs-3 content__header">
            <h2>Profile</h2>
        </div> -->
        <div class="row">
            <div class="col-xs-12 col-md-4 content__body min-padding">
                <div class="profile__editBtn text-right">
                    <button class="btn btn-warning">Ubah Profil</button>
                </div>
                <div class="profile__photo text-center">
                    <img [src]="user.photoUrl || assets/component/images/user.png" width="100">
                </div>
                <div class="profile__data text-center">
                    <h3>{{ user.nama }}</h3>
                    <p>@{{ user.username }}</p>
                    <hr>
                    <ul class="text-left">
                        <li><i class="fa fa-map-marker-alt"></i>{{ user.kota }}</li>
                        <li><i class="fa fa-envelope"></i>{{ user.email }}</li>
                        <li><i class="fa fa-phone"></i>{{ user.telp }}</li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-md-7 content__body">
                <h5>Kajian Saya</h5>
                <div *ngIf="kajian?.length > 0; else noData"></div>
            </div>
        </div>
    </div>
</section>

<ng-template #noData>
    <p class="text-center small-grey">Data kajian anda tidak ditemukan.</p>
</ng-template>
  