<div class="container">
	<div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 content__body kajian">
	<div class="row"> 
	  <div class="col-8 author">
	        <a href="#">
	          <img src="https://d1nhio0ox7pgb.cloudfront.net/_img/o_collection_png/green_dark_grey/256x256/plain/user.png" alt="">
	          <span>Author's Name</span>
	        </a>
	  </div>
	  <div class="col-4 option text-right dropdown">
		  <button type="button" id="dropdownOption" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    <i class="fa fa-ellipsis-v"></i>
		  </button>
		  <div class="dropdown-menu" aria-labelledby="dropdownOption">
		    <a class="dropdown-item" href="#">Action</a>
		    <a class="dropdown-item" href="#">Another action</a>
		    <a class="dropdown-item" href="#">Something else here</a>
		  </div>
	  </div>
	</div>
  <div class="kajian-img">
    <img src="../../assets/component/images/kajian1.jpg">
  </div>
  <div class="kajian-title">
    <h2>Kajian Tauhid</h2>
    <p>by Ustadz Subhan Bawazier
    </p>
  </div>
    <hr>
  <div  class="kajian-desc">
    <p>
      <span>Masjid Ibadurrahman</span> <br>
      30 November 2018
    </p>
    <div class="kajian-kategori"><a href="#">Tabligh Akbar</a></div>
  </div>
</div>
</div>