#content-tab {
    padding-bottom: 5em;
}
#content-tab .nav-item {
    background-color: rgba(255,255,255,.3);
}
#content-tab .tab-content {
    background-color: #fff;
    padding: 2em;
}
.kajian-img-loader {
    text-align: center;
}
.masjid-title h4 {
    border-left: 4px solid cyan;
    padding-left: 10px;
}