<section id="content" class="content-kajian">
  <div class="container">
      <div class="row">
        <div class="col-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3 content__header">
            <div class="form-group">
              <label>Kota </label>
              <select class="form-control" (change)="filterKajian('==')" [(ngModel)]="kota">
                <option value="Bandung">Bandung</option>
                <option value="Jakarta">Jakarta</option>
              </select>
            </div>
            <div class="form-group">
              <label>Tanggal </label>
              <br>
              <div class="row">
                <div class="col-4">
                    <button class="btn btn-info btn-sm" (click)="hariIni()">Hari Ini</button>
                </div>
                <div class="col">
                    <input class="form-control" type="date" [(ngModel)]="tgl" (change)="filterTgl()">
                </div>
              </div>
            </div>
            <div class="form-group">
                <button class="btn btn-info btn-sm" (click)="all()">Semua Kajian</button>
            </div>
            <h2>Kajian</h2>
        </div>
      </div>
      <div *ngIf="kajian?.length > 0; else noData">
        <div class="col-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3 content__body kajian" *ngFor="let data of kajian">
          <div class="col-12 author">
                <a routerLink="/p/{{ data.author }}">
                  <img src="../../../assets/component/images/user.png" alt="">
                  <span>{{ data.author }}</span>
                </a>
          </div>
          <div class="kajian-img" *ngIf="data.poster?.length > 0; else noImg">
            <a routerLink="d/{{ data.id }}"><img src="{{ data.poster }}"></a>
          </div>
          <div class="kajian-title">
            <h2>{{ data.judul }}</h2>
            <p>by {{ data.pemateri }}
            </p>
          </div>
            <hr>
          <div  class="kajian-desc">
            <p>
              <span>{{ data.lokasi }}</span> <br>
              {{ data.tanggal | date : "d MMMM yyyy" }}
            </p>
            <div class="kajian-kategori"><a href="#">{{ data.kategori }}</a></div>
          </div>
        </div>
      </div>
  </div>
</section>
<section id="content-tab" class="content-tab col-lg-6 offset-lg-3">
  <div class="container">
    <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Rutin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Tematik</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Tabligh Akbar</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <!-- Tab Rutin -->
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div *ngIf="rutin?.length > 0; else noData">
          <div *ngFor="let data of rutin">
            <a routerLink="/d/{{ data.id }}">
              <div class="masjid-title">
                <h4>{{ data.judul }}</h4>
                <p>@{{ data.pemateri }}<br>
                {{ data.lokasi }} <br> {{ data.tanggal | date : "d MMMM yyyy" }}
                </p>
              </div>
            </a>
              <hr>
          </div>
        </div>
      </div>
      <!-- End Of Tab Rutin -->
      <!-- Tab Tematik -->
      <div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div *ngIf="tematik?.length > 0; else noData">
          <div *ngFor="let data of tematik">
            <a routerLink="/d/{{ data.id }}">
              <div class="masjid-title">
                <h4>{{ data.judul }}</h4>
                <p>{{ data.pemateri }}<br>
                {{ data.lokasi }} <br> {{ data.tanggal | date : "d MMMM yyyy" }}
                </p>
              </div>
            </a>
              <hr>
          </div>
        </div>
      </div>
      <!-- End of Tab Tematik -->
      <!-- Tab Tabligh Akbar -->
      <div class="tab-pane fade show" id="contact" role="tabpanel" aria-labelledby="contact-tab">
        <div *ngIf="tablighAkbar?.length > 0; else noData">
          <div *ngFor="let data of tablighAkbar">
            <a routerLink="/d/{{ data.id }}">
              <div class="masjid-title">
                <h4>{{ data.judul }}</h4>
                <p>{{ data.pemateri }}<br>
                {{ data.lokasi }} <br> {{ data.tanggal | date : "d MMMM yyyy" }}
                </p>
              </div>
            </a>
              <hr>
          </div>
        </div>
      </div>
      <!-- End of Tab Tabligh Akbar -->
    </div>
  </div>
</section>

<ng-template #noData>
  <div class="text-center">
    <p>Data tidak ditemukan.</p>
  </div>
</ng-template>

<ng-template #noImg>
  <div class="kajian-img-loader">
    Loading ...
  </div>
</ng-template>