<section id="content">
  <div class="container">
      <div class="col-xs-12 offset-sm-4 content__header">
          <h2>Post Kajian</h2>
      </div>
      <div class="col-xs-12 col-sm-4 offset-sm-4 content__body">
          <form (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="judul">Judul Kajian</label>
                <input type="text" class="form-control" id="judul" [(ngModel)]="kajian.judul" name="judul" placeholder="Masukkan judul kajian">
              </div>
              <div class="form-group">
                <label for="pemateri">Pemateri</label>
                <input type="text" class="form-control" id="pemateri" [(ngModel)]="kajian.pemateri" name="pemateri" placeholder="Masukkan nama pemateri">
              </div>
              <div class="form-group">
                <label for="lokasi">Lokasi</label>
                <input type="text" class="form-control" id="lokasi" [(ngModel)]="kajian.lokasi" name="lokasi" placeholder="Masukkan lokasi kajian">
              </div>
              <div class="form-group">
                <label for="tanggal">Tanggal</label>
                <input type="text" class="form-control" id="tanggal" [(ngModel)]="kajian.tanggal" name="tanggal" placeholder="Contoh: 10 November 2018">
              </div>
              <div class="form-group">
                <label for="kategori">Kategori</label>
                <input type="text" class="form-control" id="kategori" [(ngModel)]="kajian.kategori" name="kategori" placeholder="Contoh: Tabligh Akbar, Tauhid, Tahsin, Fiqih, ...">
              </div>
            <button type="submit" class="btn btn-info btn-block">Submit</button>
          </form>
      </div>
  </div>
</section>