      <nav class="navbar navbar-expand-md navbar-light bg-light custom-nav">
        <a class="navbar-brand" href="#"><img src="assets/templates/img/icons/books.ico" height="40"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
          true}">
              <a class="nav-link" routerLink="/">Kajian <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
          true}">
              <a class="nav-link" routerLink="/masjid">Masjid</a>
            </li>
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
          true}">
              <a class="nav-link" routerLink="/majelis">Majelis</a>
            </li>
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
          true}">
              <a class="nav-link" routerLink="/pemateri">Pemateri</a>
            </li>
          </ul>
          <hr>
          <ul class="navbar-nav right-nav ml-auto" *ngIf="auth.user | async as user">
            <li class="nav-item" *ngIf="user.level!=4">
              <a class="nav-link btn btn-primary addBtn" routerLink="/tambah">Post Kajian</a>
            </li>
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
          true}">
              <a class="nav-link" routerLink="/profile">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link btn-out" routerLink="" (click)="logout()">Sign Out</a>
            </li>
          </ul>
        </div>
    </nav>