.profile-img-default img {
    width: auto;
    max-height: 100%;
    height: auto;
    margin: 0 auto;
}
.profile-img-default {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border: 1px solid #cdcdcd;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 1em;
}